<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link type="text/css" rel="stylesheet" href="static/css/bg.css">
	<link type="text/css" rel="stylesheet" href="static/css/login-signup.css">
	<style type="text/css">
		html,body{
			width: 100vw;
			height: 100vh;
			margin: 0;
			padding: 0;	
		}
		#center-container{
			width: 856px;
			height: 640px;
			margin: calc(calc(100vh - 830px) / 2) calc(calc(100% - 856px) / 2) 0px;
			transform: translateX(-200px);
			background-image: url(static/assets/laptop-with-box.svg);
			background-repeat: no-repeat;
			background-position: bottom;
			float: left;
		}
		#box-container{
			height: 400px;
		}
		#box-container button{
			margin-top: 24px;
		}
	</style>
</head>
<body>
	<div id="left-corner-design"></div>
	
	<header>
		<div id="header-content">
			<h1>limitless</h1>
			<img src="static/assets/logo.svg">
		</div>
	</header>
	
	<secttion id="center-container">
		<div id="box-container">
			<h2>Login</h2>
			<form method="post">
				<div class="input-box">
					<input type="email" name="email" id="email" required>
					<label>Email</label>
				</div>
				<div class="input-box">
					<input type="password" name="password" id="password" required="">
					<label>Password</label>
				</div>
				<button type="submit">Login</button>
				<a href="/register">Sign Up?</a>
			</form>
		</div>
	</secttion>
	
	<div id="right-corner-design"></div>
</body>
</html>